<form method="POST">
  <label for="input-email">Email</label>
  <input id="input-email" type="email" placeholder="Email" name="email" />

  <label for="input-password">Password</label>
  <input
    id="input-password"
    type="password"
    placeholder="A secure password"
    name="password"
  />

  <button>Log in to existing account</button>
</form>