<form method="POST">
  <label for="input-name">Full Name</label>
  <input id="input-name" type="text" placeholder="Full Name" name="name" />

  <label for="input-email">Email</label>
  <input id="input-email" type="email" placeholder="Email" name="email" />

  <label for="input-password">Password</label>
  <input
    id="input-password"
    type="password"
    placeholder="A secure password"
    name="password"
  />

  <button>Create new account</button>
</form>